.sidepanel {
    position: fixed;
    top: 100px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    z-index: 3;
    &__link {
        transform: rotate(90deg);
        &_in {
            transform: rotate(0);
        }
        &:hover {
            svg path {
              fill: $main-color;
              transform: scale(0.9);
            }
        }
    }
}